.LoginForm, .SignupForm {
    width: 100%;
    max-width: 500px;
    margin: auto;
    margin-top: 40px;;
    height: 100%;
    
    padding: 40px;
    box-sizing: border-box;
    background-color: rgba(149, 165, 166, 0.1);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 20px;

}

.update-modal {
  width: 700px !important;
  height: 650px;
}

#textareaId {
  min-height: 380px;
  resize: none;
}

.sidebar {
    
    max-width: 300px;
    background-color: rgba(149, 165, 166, 0.1);
    height: calc(100vh - 60px);
    border-right: 1.5px solid rgba(149, 165, 166, 0.15);
}

#taskId, #datetimeId {
  border: none;
}

#textareaId {
  border: 1px solid rgba(149, 165, 166, 0.2);
}

#taskId:focus {
  transition: 1s linear;
  border-bottom: 1px solid rgba(149, 165, 166, 0.3);
  outline: none !important;
  box-shadow: none;
}

#textareaId:focus {
    transition: 1s linear;
    border-bottom: 3px solid rgba(149, 165, 166, 0.3);
    outline: none !important;
    box-shadow: none;
}

#datetimeId:focus {
  transition: 1s linear;
  border-bottom: 1px solid rgba(149, 165, 166, 0.3);
  outline: none !important;
  box-shadow: none;
}
